.regisContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 1.3rem;
    max-width: 80%;
    margin: auto;
}

.regisContainer h1 {
    font-size: 4rem;
    font-family: fantasy;
    font-weight: 100;
}

.regisContainer h2 {
    font-size: 2rem;
    font-family: cursive;
}

.regisContainer p {
    font-size: 2rem;
}

.btnRegis {
    width: 300px;
    height: 50px;
    color: var(--color-text);
    background-color: rgba(0, 0, 0, 0.7);
    border: solid var(--color-tertiary);
    font-size: 1.6rem;
    border-radius: 2rem;
}

.btnRegis:hover {
    color: black;
    background-color: var(--color-tertiary);
    border-color: black;
    cursor: pointer;
    transition: 0.8s;
}

.boxContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: white;
    border: solid var(--color-tertiary);
    border-radius: 7rem;
    gap: 2rem;
    max-width: 800px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: auto;
}

.description h1 {
    font-size: 2.5rem;
}

.description p {
    font-size: 1.3rem;
}

.grafficContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 60px;
    margin-top: 2rem;
}

.graffic1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    font-size: 1rem;
    gap: 10px;
}

.graffic1 h4{
    font-size: 1rem;
}

.graffic1 p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 120px;
    height: 60px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: var(--color-tertiary);
    font-size: 1.2rem;
}

.graffic2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    font-size: 1rem;
    gap: 10px;
}

.graffic2 h4{
    font-size: 1rem;
}

.graffic2 p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 120px;
    height: 100px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: var(--color-tertiary);
    font-size: 1.2rem;
}

.graffic3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    font-size: 1rem;
    gap: 10px;
}

.graffic3 h4{
    font-size: 1rem;
}

.graffic3 p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 120px;
    height: 150px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: var(--color-tertiary);
    background: linear-gradient(0deg, rgb(255, 0, 200) 0%, rgb(255, 255, 255) 100%);
    font-size: 1.2rem;
}

.graffic4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    font-size: 1rem;
    gap: 10px;
}

.graffic4 h4{
    font-size: 1rem;
}

.graffic4 p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 120px;
    height: 160px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: var(--color-tertiary);
    background: linear-gradient(0deg, rgb(255, 0, 200) 0%, rgb(255, 255, 255) 100%);
    font-size: 1.2rem;
}

.description2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 60px;
}

.description2 span {
    width: 120px;
}